.card{
width: 100%;
}

.card__image{
  height: 413px;
  width: 413px;
  object-fit: cover;
  border-radius: 5%;
  padding: 0;
  margin: 0;
}

.card__content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__like-btn {
  background-image: url("../images/like-icon.svg");
  height: 20px;
  width: 23px;
  background-color: transparent;
  border: none;
  opacity: 40%;
  cursor: pointer;
}

.card__like-btn:hover{
  opacity: 1;
}

.card__like-btn--liked{
  background-image: url("../images/like-icon-active.svg");
  height: 20px;
  width: 23px;
  background-color: transparent;
  border: none;
  opacity: 100%;
  cursor: pointer;
}

.card__like-btn--liked:hover{
  opacity: 50%;
}

.card__title{
  max-width: 350px;
  font-family: Poppins, Arial ,sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 4px 0 0 0 ;
}

@media screen and (max-width: 627px) {
  .card__image{
    width: 288px;
    height: 288px;
  }
  .card{
    width: 288px;
    cursor: pointer;
  }

  .card__title{
    font-family: Poppins, Arial ,sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
    max-width: 260px;
  }

  .card__like-btn{
    height: 18px;
    width: 20px;
    background-image: url("../images/like-icon-small.svg");
  }

  .card__like-btn--liked{
    background-image: url("../images/like-icon-active-small.svg");
    height: 18px;
    width: 20px;
  }

}