.profile {
  display: flex;
  max-width: 1280px;
  padding-top: 34px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(33,33,33,.4);
}

.profile__avatar {
  margin-right: 20px;
  height: 190px;
  width: 190px;
  border-radius: 10px;
}

.profile__column{
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description{
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__edit-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-left: 0;
  margin-right: auto;
  margin-top: auto;
  height: 16px;
  background: none;
  border: none;
  font-family: Poppins, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  opacity: 70%;
  border-radius: 90px;
  cursor: pointer;
  color: rgba(33, 33, 33, 1);
}

.profile__edit-btn:hover {
  opacity: 1;
}

.profile__add-btn {
  cursor: pointer;
  margin-left: auto;
  background-color: #212121;
  width: 149px;
  height: 52px;
  color: #fcf5ef;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-family: Poppins, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  border-radius: 8px;
  margin-top: auto
}

.profile__add-btn:hover{
  background: rgba(33, 33, 33, 0.8);
}


@media screen and (max-width: 627px) {
  .profile{
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar{
    margin-right: 0;
    height: 80px;
    max-width: 80px;
    margin-bottom: 12px;
  }

  .profile__name{
    font-size: 20px;
    margin: 0 0 6px;
    width: 288px;
  }

  .profile__column {
    margin: 0 0 20px;
  }

  .profile__description{
    margin: 0 0 32px;
    max-width: 288px;
  }

  .profile__edit-btn{
    margin-left: auto;
    margin-right: auto;
  }

  .profile__add-btn{
    width: 100%;
    margin: 0;
  }



}