.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.footer__copyright{
  font-family: Poppins, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  margin: 60px 0 60px 0;
}